*{
    padding:0;
    margin:0;
    font-family: "Montserrat", Sans-serif;
}
h1
    {
        color: #20244D;
        font-family: "Montserrat", Sans-serif;
        font-size: 40px;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        margin-top: 50px;
    }
#nav{
    display:flex;
    justify-content: center;
}
    #nav>a{

        height:30px;
        width:auto;
        font-size: 17px;
        color:#3596FF;
        background-color: white;
        border-radius: 20px;
        border:1px solid #3596FF;
        text-decoration:none;
        margin-left:20px;
        padding:0px 10px 5px 10px;
        margin-top:50px;
        font-family: "Montserrat", Sans-serif;
        /* display: flex; */
        /* text-align: center; */
        /* justify-items: center; */
    
    }
    #nav>a:hover{
        background-color:#3596FF ;
        cursor:pointer;
        color:white;
    }
    #nav>a:nth-child(1){
        background-color:#3596FF ;
        color:white;
    }
    #exp{
        display: flex;
        justify-content: center;
        margin-top:50px;
    }
    #exp>a{

        /* height:30px;
        width:auto;
        font-size: 17px;
        color:#3596FF;
        background-color: white;
        border-radius: 20px;
        border:1px solid #3596FF;
        text-decoration:none;
        padding:10px 10px 5px 10px;
        font-family: "Montserrat", Sans-serif; */
        height:30px;
        width:auto;
        font-size: 17px;
        color:#3596FF;
        background-color: white;
        border-radius: 20px;
        border:1px solid #3596FF;
        text-decoration:none;
        margin-left:20px;
        padding:0px 10px 5px 10px;
        /* margin-top:50px; */
        font-family: "Montserrat", Sans-serif;
    
    }
    #exp>a:hover{
        background-color:#3596FF ;
        cursor:pointer;
        color:white;
    }
    #one{
        width:1000px;
        height:auto;
        margin:auto;
    }
    #container{
        display:grid;
        grid-template-columns: repeat(3,1fr);
        justify-content: center;
        gap:30px;
        cursor:pointer;
    }
    #container>div{
        margin-top:20px;
        width:30%;

    }

    div>img{
        width:300px;
        height:200px;

    }
   div>p,h2,h3,h4{
       width:300px;
   }
    h2,h3,h4,p{
        margin-top:20px;
    }
    p,h3
    {
       color: #BEBEBE;
    }
    h4{
        color:#3596FF;
    }


    /* exerciseTips.html related css */
    #nav1{
        display:flex;
        justify-content: center;
    }
        #nav1>a{
    
            /* height:30px;
            width:auto;
            font-size: 17px;
            color:#3596FF;
            background-color: white;
            border-radius: 20px;
            border:1px solid #3596FF;
            text-decoration:none;
            margin-left:20px;
            padding:10px 10px 5px 10px;
            margin-top:50px;
            font-family: "Montserrat", Sans-serif; */
            height:30px;
        width:auto;
        font-size: 17px;
        color:#3596FF;
        background-color: white;
        border-radius: 20px;
        border:1px solid #3596FF;
        text-decoration:none;
        margin-left:20px;
        padding:0px 10px 5px 10px;
        margin-top:50px;
        font-family: "Montserrat", Sans-serif;
        
        }
        #nav1>a:hover{
            background-color:#3596FF ;
            cursor:pointer;
            color:white;
        }
        #nav1>a:nth-child(2){
            background-color:#3596FF ;
            color:white;
        }


          /* generalFitness.html related css */
    #nav2{
        display:flex;
        justify-content: center;
    }
        #nav2>a{
    
            /* height:30px;
            width:auto;
            font-size: 17px;
            color:#3596FF;
            background-color: white;
            border-radius: 20px;
            border:1px solid #3596FF;
            text-decoration:none;
            margin-left:20px;
            padding:10px 10px 5px 10px;
            margin-top:50px;
            font-family: "Montserrat", Sans-serif; */
            height:30px;
        width:auto;
        font-size: 17px;
        color:#3596FF;
        background-color: white;
        border-radius: 20px;
        border:1px solid #3596FF;
        text-decoration:none;
        margin-left:20px;
        padding:0px 10px 5px 10px;
        margin-top:50px;
        font-family: "Montserrat", Sans-serif;
        
        }
        #nav2>a:hover{
            background-color:#3596FF ;
            cursor:pointer;
            color:white;
        }
        #nav2>a:nth-child(3){
            background-color:#3596FF ;
            color:white;
        }

         /* nutrition.html related css */
    #nav3{
        display:flex;
        justify-content: center;
    }
        #nav3>a{
    
            /* height:30px;
            width:auto;
            font-size: 17px;
            color:#3596FF;
            background-color: white;
            border-radius: 20px;
            border:1px solid #3596FF;
            text-decoration:none;
            margin-left:20px;
            padding:10px 10px 5px 10px;
            margin-top:50px;
            font-family: "Montserrat", Sans-serif; */
            height:30px;
        width:auto;
        font-size: 17px;
        color:#3596FF;
        background-color: white;
        border-radius: 20px;
        border:1px solid #3596FF;
        text-decoration:none;
        margin-left:20px;
        padding:0px 10px 5px 10px;
        margin-top:50px;
        font-family: "Montserrat", Sans-serif;
        
        }
        #nav3>a:hover{
            background-color:#3596FF ;
            cursor:pointer;
            color:white;
        }
        #nav3>a:nth-child(4){
            background-color:#3596FF ;
            color:white;
        }

         /* proTips.html related css */
    #nav4{
        display:flex;
        justify-content: center;
    }
        #nav4>a{
    
            /* height:30px;
            width:auto;
            font-size: 17px;
            color:#3596FF;
            background-color: white;
            border-radius: 20px;
            border:1px solid #3596FF;
            text-decoration:none;
            margin-left:20px;
            padding:10px 10px 5px 10px;
            margin-top:50px;
            font-family: "Montserrat", Sans-serif; */
            height:30px;
        width:auto;
        font-size: 17px;
        color:#3596FF;
        background-color: white;
        border-radius: 20px;
        border:1px solid #3596FF;
        text-decoration:none;
        margin-left:20px;
        padding:0px 10px 5px 10px;
        margin-top:50px;
        font-family: "Montserrat", Sans-serif;
        
        }
        #nav4>a:hover{
            background-color:#3596FF ;
            cursor:pointer;
            color:white;
        }
        #nav4>a:nth-child(5){
            background-color:#3596FF ;
            color:white;
        }

        /* whatsNew.html related css */
    #nav5{
        display:flex;
        justify-content: center;
    }
        #nav5>a{
    
            /* height:30px;
            width:auto;
            font-size: 17px;
            color:#3596FF;
            background-color: white;
            border-radius: 20px;
            border:1px solid #3596FF;
            text-decoration:none;
            margin-left:20px;
            padding:10px 10px 5px 10px;
            margin-top:50px;
            font-family: "Montserrat", Sans-serif; */
            height:30px;
        width:auto;
        font-size: 17px;
        color:#3596FF;
        background-color: white;
        border-radius: 20px;
        border:1px solid #3596FF;
        text-decoration:none;
        margin-left:20px;
        padding:0px 10px 5px 10px;
        margin-top:50px;
        font-family: "Montserrat", Sans-serif;
        
        }
        #nav5>a:hover{
            background-color:#3596FF ;
            cursor:pointer;
            color:white;
        }
        #nav5>:nth-child(7){
            background-color:#3596FF ;
            color:white;
        }
        .search{
            
                font-family: "DM Sans", Sans-serif;
                font-size: 16px;
                font-weight: normal;
                text-transform: uppercase;
                color: #7E7E7E;
                min-width: 0;
                margin: 0;
                padding: 6px 12px;
                 border: none;
                 background-color: transparent;
                line-height: 1;
                box-sizing: border-box;
                margin-left: 750px;
                background-color:rgb(203, 227, 244) ;
                margin-top:30px;
                width:400px;
                /* display: flex;
                justify-content: center; */
        } 
     /* workoutTips.html related css */
      #nav8{
      display:flex;
      justify-content: center;
                             }
     #nav8>a{
    
            /* height:30px;
            width:auto;
            font-size: 17px;
            color:#3596FF;
            background-color: white;
            border-radius: 20px;
            border:1px solid #3596FF;
            text-decoration:none;
            margin-left:20px;
            padding:10px 10px 5px 10px;
            margin-top:50px;
            font-family: "Montserrat", Sans-serif; */
            height:30px;
        width:auto;
        font-size: 17px;
        color:#3596FF;
        background-color: white;
        border-radius: 20px;
        border:1px solid #3596FF;
        text-decoration:none;
        margin-left:20px;
        padding:0px 10px 5px 10px;
        margin-top:50px;
        font-family: "Montserrat", Sans-serif;
        }
     #nav8>a:hover{
            background-color:#3596FF ;
            cursor:pointer;
            color:white;
        }
     #exp1{
            display: flex;
            justify-content: center;
            margin-top:30px;
        }
        #exp1>a{
    
            /* height:30px;
            width:auto;
            font-size: 17px;
            background-color:#3596FF;
            color: white;
            border-radius: 20px;
            border:1px solid #3596FF;
            text-decoration:none;
            padding:10px 10px 5px 10px;
            font-family: "Montserrat", Sans-serif;
         */
         height:30px;
        width:auto;
        font-size: 17px;
        color:#3596FF;
        background-color: white;
        border-radius: 20px;
        border:1px solid #3596FF;
        text-decoration:none;
        margin-left:20px;
        padding:0px 10px 5px 10px;
        /* margin-top:50px; */
        font-family: "Montserrat", Sans-serif;
        }
        #exp1>a:hover{
           
            cursor:pointer;
           
        }
