*{
    margin:0;
    padding:0;
}
#detail{
    width:1000px;
    height:auto;
    margin-left:200px;

}
#detail>h1{
    font-size: 2.13rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 0.5rem;
    font-family: Arial, Helvetica, sans-serif;
    color: inherit;
    margin-top:50px;
}
#detail>img{
    width:100%;
    height:800px;
    border-radius: 5px;
    margin-bottom:30px;
}
h2,p,li{
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}
li{
    color:royalblue;
}
#one{
    width:100%;
    height:320px;
    padding-top:10px;
    border:1px solid black;
    margin-bottom:50px;
   
}
#two>h2{
    margin-left:30px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
}

#two>img{
    width:20%;
    height:100%;
    margin-bottom: 20px;
}
#two{
    display:flex;
}
#links{
    width:100%;
    height:50px;
    display:flex;
    justify-content: center;
    margin-bottom:30px;
   
}
#links>button:nth-child(2){
    width:200px;
    height:40px;
    background-color: royalblue;
    text-align: center;
    color:white;
    border:none;
    border-radius: 5px;
    margin-right:10px;
   cursor:pointer;

}
#links>button:nth-child(5){
    width:200px;
    height:40px;
    background-color: rgb(205, 52, 18);
    text-align: center;
    color:white;
    border:none;
    border-radius: 5px;
    margin-right:10px;
    cursor:pointer;


}
#links>button:nth-child(3){
    width:200px;
    height:40px;
    background-color: rgb(20, 104, 200);
    text-align: center;
    color:white;
    border:none;
    border-radius: 5px;
    margin-right:10px;
    cursor:pointer;

}
#links>button:nth-child(4){
    width:200px;
    height:40px;
    background-color: rgb(22, 161, 173);
    text-align: center;
    color:white;
    border:none;
    border-radius: 5px;
    margin-right:10px;
    cursor:pointer;


}
#links>button:nth-child(6){
    width:200px;
    height:40px;
    background-color: rgb(141, 151, 152);
    text-align: center;
    color:rgb(57, 53, 53);
    border:none;
    border-radius: 5px;
    margin-right:10px;
    cursor:pointer;


}
h4{
    text-align: center;
    color:royalblue;
    font-family: Arial, Helvetica, sans-serif;
}
#three{
    width:100%;
    height:300px;
    justify-content: center;
    display:flex;

}
#four{
    width:200px;
    height:100%;
    margin-right:20px;
}
#five{
    width:200px;
    height:100%;
    margin-right:20px;
}
#six{
    width:200px;
    height:100%;
    margin-right:20px;
}
#seven{
    width:200px;
    height:100%;
    margin-right:20px;
}
#four>img{
    width:200px;
    height:66%;
    border-radius: 5px;
    cursor:pointer;
}
#five>img{
    width:200px;
    height:66%;
    border-radius: 5px;
    cursor:pointer;
}
#six>img{
    width:200px;
    height:66%;
    border-radius: 5px;
    cursor:pointer;
}
#seven>img{
    width:200px;
    height:66%;
    border-radius: 5px;
    cursor:pointer;
}
