#sk_manage {
    background-image: url("./images/caucasian-man-practicing-weightlifting-gym.jpg") ;
    background-color: #0C0C0C;
    /* border: 1px solid blue; */
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    /* height: 810px; */
    height: 100vh;
}
#sk_pura{
    border: 1px solid red;
    height: 100%;
    width: 61%;
    margin: auto;
    display: flex;
}
#sk_left img{
    border: 1px solid blue;
    height: 100px;
    width: 100px;
}
#sk_left span{
    border: 1px solid pink;
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 46px;
    font-family: "Montserrat", Sans-serif;
    font-weight: bold;
    /* height: 300px; */
}
#sk_left h2{
    border: 1px solid;
    color: #FFFFFF;
    font-family: "DM Sans", Sans-serif;
    font-weight: 600;
    text-transform: capitalize;
    font-style: oblique;
}
#sk_right img{
    border: 1px solid green;
    height: 500px;
}
