*{
    margin: 0;
    padding: 0;
}
#sk_member {
    /* border: 1px solid green; */
    height: 600px;
    background-color: #F2F6FF;
    margin-top: 50px;
}
#sk_member1{
    /* border: 1px solid red; */
    /* margin-bottom: 5%; */
    /* height: 100%; */
    text-align: center;
    padding: 15px;
    padding-top: 110px;
}
#sk_member1 span {
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bolder;
    letter-spacing: -0.5px;
}
#sk_member1 p {
    /* text-align: center; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 0.5px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#sk_slideShow {
    /* border: 1px solid; */
    width: 60%;
    margin: auto;
    height: 125px;
    padding: 10px;
    margin-bottom: 50px;
}
#sk_slideShow img {
    /* border: 1px solid red; */
    border-radius: 10px;
}
#sk_member1 a {
    text-decoration: none;
    text-transform: uppercase;
    color:  #FFFFFF;
    background-color: #00A9FF;
    border: solid #00A9FF;
    font-size: 20px;
    font-family: Arial;
    border-radius: 25px;
    font-weight: 700;
    width: 160px;
    height: 50px;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}
#sk_member1 a:hover {
    background-color: #FFFFFF;
    color: #00A9FF;
}