*{

    background-color: rgb(219,232,244);  
    font-family: sans-serif;
    
}
#background{
    width: 100%;
    height: 100%;
}
#background>div:nth-child(1){
    /* border: 1px solid red; */
       width: 150px;
       height: 60px;
       margin: auto;
       margin-top: 50px;
}
#background>div:nth-child(1)>img{
    width: 80%;
    
}
#form{
    background-color: rgb(235,247,255);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
   width: 32%;
   /* border: 1px solid red; */
   display: flex;
   flex-direction: column;
   margin: auto;
   padding: 30px;
   
}
#form>h1{
    text-align: center;
    font-size: 45px;
    font-family: sans-serif;
    margin-top: 60px;
    margin-bottom: -4px;
   background-color: rgb(235,247,255);

}
#form>p{
    text-align: center;
    font-size: 18px;
    color: gray;
   background-color: rgb(235,247,255);
 }
#form>div:nth-child(3){
    width: 60%;
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-evenly;
    background-color: rgb(235,247,255);
    margin-top: 25px;
    margin-bottom: 15px;
    
    
}
#form>div:nth-child(3)>div{
    background-color: rgb(235,247,255);
    justify-content: space-evenly;
}
#form>div:nth-child(3)>div>img{
    width: 150%;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#form>#password+div{
    color: red;
    background-color: rgb(235,247,255);
    
}
#form>#password+div>p{
    font-size: 18px;
    background-color: rgb(235,247,255);
}
label{
    background-color: rgb(235,247,255);
    margin-top: 25px;
    margin-bottom: 5px;
}
input{
    height: 40px;
    background-color: white;
    border: none;
    border-radius: 5px;
}

input[type="checkbox"]{
    width: 30px;
    margin-top: 20px;
}
input[type="checkbox"]:hover{
    color: blue;
    background-color: white;
}
#form>#recap{
    width: 60%;
    height: 80px;
    display: flex;
    border: 1px solid black;
    background-color: white;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;

}
#form>#recap>img{
    width:40%
}
#form>#recap>label{
    font-size: 14px;
    background-color: white;
    margin: 30px 30px 0px 0px;
}
input[type="submit"]{
    color: white;
    background-color: #50b6ff;
    font-weight: bold;
    font-size: 20px;
    border-radius: 30px;
}
#form>#jump_sign{
    width: 100%;
    text-align: center;
    font-size: 18px;
    background-color: rgb(235,247,255);
    margin: 20px 0px 30px 0px
}
#form>#jump_sign>a{
    color: #50b6ff;
    background-color: rgb(235,247,255);
}
#jump_sign+p{
    color: gray;
    font-size: 14px;
}