*{
    padding: 0;
    margin: 0;
}
#sk_all {
border: 1px solid;
width: 100%;
height: 100vh;
background-image: url("https://cdn.jefit.com/wp/wp-content/uploads/2022/03/young-healthy-man-athlete-doing-exercises-pull-ups-gym-scaled.jpg");
background-repeat: no-repeat;
background-size: cover;
}
#sk_all p{
    color: #FFFFFF;
    font-family: "Montserrat", Sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-top: 100px;
}
#sk_plans{
    /* border: 1px solid red; */
    height: 70%;
    display: flex;
    width: 61%;
    margin: auto;
}
#sk_1{
    /* border: 1px solid green; */
    width: 300px;
    background-color: #FFFFFF;
    height: 70%;
    margin-top: 22px;
    border-radius: 20px;
    padding: 30px;
    margin-left: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#sk_2{
    /* border: 1px solid green; */
    width: 300px;
    margin-left: 20px;
    background-color: #FFFFFF;
    height: 86%;
    margin-top: 22px;
    border-radius: 20px;
    padding: 30px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#sk_3{
    /* border: 1px solid green; */
    width: 300px;
    margin-left: 20px;
    background-color: #FFFFFF;
    height: 90%;
    margin-top: 22px;
    border-radius: 20px;
    padding: 30px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}




i {
    /* border: 1px solid; */
    font-size: 15px;
    color: black;
    margin-right: 5px;
}
.hola, .hola, .hola{
    /* border: 1px solid; */
    text-decoration: none;
    text-transform: uppercase;
    background-color: #E1F1FF;
    color: #39B7FF;
    font-size: 14px;
    font-family: "Montserrat", Sans-serif;
    border-radius: 25px;
    font-weight: 700;
    padding: 15px 30px;
    display: flex;
    justify-content: center;
    /* text-align: center; */
    /* align-items: center; */
    width: 120px;
    /* margin-right: 65px; */
    margin-left: 60px;
    margin-top: 40px;
}
#sk_1 span, #sk_2 span, #sk_3 span{
    /* border: 1px solid; */
    font-family: "DM Sans", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #54565F;
    display: block;
    margin-bottom: -15px;
}
#sk_1 .sk_cl, #sk_2 .sk_cl, #sk_3 .sk_cl {
    text-align: center;
    color: #39B7FF;
    font-size: 50px;
    font-family: "Montserrat", Sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
}
#sk_1 h2, #sk_2 h2, #sk_3 h2 {
    color: #272e36;
    font-family: "DM Sans", Sans-serif;
    /* font-size: 20px; */
    margin-bottom: 50px;
    text-align: center;
}
#sk_1 h3, #sk_2 h3, #sk_3 h3 {
    /* border: 1px solid; */
    color: #A1A1A1;
    display: block;
    text-align: center;
    font-size: 16px;
    /* margin-top: -5px; */
    margin-bottom: 35px;
}