#workout1{
    
    margin: auto;
  width: 30%;
  
  padding: 10px;
  
  

}
#workoutappend{
    /* border:1mm solid red; */
    width: 80%;
    margin: auto;
    height: 560px;
     /* display: flex; */
    overflow: hidden; 
    overflow-x: scroll; 
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;

}
.boxmamta{
    width: 100%;
    border-radius:20px;
    height: 240px;
    margin-top: 20px;
   
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.boxmamta>img{
    /* border: 1mm solid rebeccapurple; */
    border-radius:20px 20px 0px 0px ;
    width:380px;
    height:fit-content;

}
.boxmamta>h2{
    margin-left: 20px;
}
