*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#navbar{
    background-color: #3CB8FF;
    /* overflow: hidden; */
}
#sk_items {
    width: 70%;
    /* border: 1px solid red;  */
    background-color: #3CB8FF;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    /* height: 95px; */
    margin: auto;
    align-items: center;
}
#sk_logo img{
    /* border: 1px solid; */
    margin-left: -60px;
    /* margin-right: 70px; */
    /* margin-top: 10px; */
    /* margin-bottom: 10px; */
    /* padding: -10px; */
    display: flex;
    align-items: center;
    height: 100px;
    /* width: 210px; */
}
#sk_menu {
    /* border: 1px solid red; */
    text-align: center;
    margin-right: -100px;
}
#sk_menu ul{
    display: inline-flex;
    list-style: none;
    
}
#sk_menu ul li{
    /* border: 1px solid; */
    width: 110px;
}
a {
    color: #EAF3FF;
    text-decoration: none;
}
.sk01 {
    margin-left: 15px;
}
.sk02 {
    /* border: 1px solid; */
    margin-left: -15px;
    margin-right: -10px;
}
.sk_desi{
    text-decoration: none;
    color: #48A9FF;
    background-color: #FFFFFF;
    font-size: 14px;
    font-family: "Work Sans", Sans-serif;
    border-radius: 25px;
    text-transform: uppercase;
    font-weight: 600;
    width: 160px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.submenu {
    /* border: 1px solid; */
    display: none;
    /* width: 200px; */
    background: #FFFFFF;
}
#sk_menu ul li:hover {
    color: #EAF3FF;
}
#sk_menu ul li:hover .submenu{
    /* border: 1px solid red; */
    display: block;
    position: absolute;
    margin-top: 10px;
}
#sk_menu ul li:hover .submenu ul {
    display: block;
    /* margin-bottom: 15px; */
    /* margin: 10px; */
}
#sk_menu ul li:hover .submenu ul li {
    width: 150px;
    /* padding: 10px; */

}
.submenu ul li a{
    /* border: 1px solid; */
    width: 100%;
    color: blue;
}