
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#navbar{
    background-color: #3CB8FF;
    overflow: hidden;
    /* display: flex; */
    /* justify-content:space-evenly; */
}
#sk_items {
    width: 100%;
    border: 1px solid red; 
    background-color: #3CB8FF;
    display: flex;
    justify-content: space-evenly;
    /* padding: 10px; */
    /* height: 95px; */
    margin: auto;
    align-items: center;
}
#sk_logo img{
    border: 1px solid;
    margin-left: 100px;
    margin-right: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: -10px;
    display: flex;
    align-items: center;
    height: 100px;
    width: 210px;
}
#sk_text ul li {
    list-style: none;
    display: inline-block;
}
#sk_text{
    border: 1px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: -300px;
}
.sk_des {
    /* border: 1px solid; */
    /* width: 110px; */
    text-decoration: none;
    color: #EAF3FF;
    font-family: "DM Sans", Sans-serif;
    font-size: 16px;
    margin-right: 35px;
    font-weight: normal;
}
.sk_desi{
    text-decoration: none;
    color: #48A9FF;
    background-color: #FFFFFF;
    font-size: 14px;
    font-family: "Work Sans", Sans-serif;
    border-radius: 25px;
    text-transform: uppercase;
    font-weight: 600;
    width: 160px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width: 1025px) {
    #navbar{
        background-color: red;
    }
    #sk_items {
        width: 59%;
        /* border: 1px solid red;  */
        /* background-color: #3CB8FF; */
        display: flex;
        justify-content: space-between;
        padding: 10px;
        height: 160px;
        margin: auto;
        align-items: center;
    
    }
    #sk_logo img{
        /* border: 1px solid; */
        margin-left: -70px;
        /* margin-top: 10px; */
        /* margin-bottom: 10px; */
        /* padding: -10px; */
        display: flex;
        align-items: center;
        height: 140px;
        width: 300px;
    }
    #sk_text{
        /* border: 1px solid; */
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .sk_des {
        text-decoration: none;
        color: #EAF3FF;
        font-family: "DM Sans", Sans-serif;
        font-size: 16px;
        margin-right: 35px;
        font-weight: normal;
    }
    .sk_desi{
        text-decoration: none;
        color: #48A9FF;
        background-color: #FFFFFF;
        font-size: 14px;
        font-family: "Work Sans", Sans-serif;
        border-radius: 25px;
        text-transform: uppercase;
        font-weight: 600;
        width: 160px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}